@import "~element-ui/lib/theme-default/index.css";
@import "~font-awesome/css/font-awesome.css";

body{
  margin: 0;
}

hr.line {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
